<!-- <app-login1></app-login1>
<router-outlet></router-outlet> -->
 <!-- <app-register></app-register> -->
<!-- <app-login></app-login> -->
<!-- <app-registeruser></app-registeruser> -->
<!-- <app-navigationbar></app-navigationbar> -->
<!-- <app-home></app-home> -->
 <!-- <ul>
<li *ngFor="let user of users">
{{user.tags.name}},{{user.description}}
</li> </ul> -->

<!-- <div>
    <button type="submit" value="submit" (click)="users()">submit</button>
</div>
<h1>{{users|json}}</h1> -->
<!-- <app-viewemployee></app-viewemployee> -->
<router-outlet></router-outlet> 
